<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Document</title>
</head>
<body>
{% if user %}
  <h1>User: {{ user['name'] }}</h1>
  <p>Email: {{ user['email'] }}</p>
  <p>Gender: {{ user['gender'] }}</p>
  <p>Status: {{ user['status'] }}</p>
{% else %}
  <p>User not found.</p>
{% endif %}
</body>
</html>
